0,-1: jam#set(`x) && `x instanceof #HTMLElement
0,-1: jam#set(`x) && `x instanceof #HTMLDocument
0,-1: jam#set(`x) && `x instanceof #Window
0,-1: jam#invoke(#HTMLElement#prototype#appendChild)
0,-1: jam#invoke(#HTMLElement#prototype#insertAdjacentHTML)
0,-1: jam#invoke(#HTMLElement#prototype#insertBefore)
0,-1: jam#invoke(#HTMLElement#prototype#removeChild)
0,-1: jam#invoke(#HTMLElement#prototype#removeAttribute)
0,-1: jam#invoke(#HTMLElement#prototype#removeAttributeNS)
0,-1: jam#invoke(#HTMLElement#prototype#removeAttributeNode)
0,-1: jam#invoke(#HTMLElement#prototype#replaceChild)
0,-1: jam#invoke(#HTMLElement#prototype#setAttribute)
0,-1: jam#invoke(#HTMLElement#prototype#setAttributeNS)
0,-1: jam#invoke(#HTMLElement#prototype#setAttributeNode)
0,-1: jam#invoke(#HTMLElement#prototype#setAttributeNodeNS)
0,-1: jam#invoke(#HTMLElement#prototype#setCapture)
0,-1: jam#invoke(#HTMLElement#prototype#setUserData)
0,-1: jam#invoke(#HTMLDocument#prototype#clear)
0,-1: jam#invoke(#HTMLDocument#prototype#close)
0,-1: jam#invoke(#HTMLDocument#prototype#execCommand)
0,-1: jam#invoke(#HTMLDocument#prototype#insertBefore)
0,-1: jam#invoke(#HTMLDocument#prototype#replaceChild)
0,-1: jam#invoke(#HTMLDocument#prototype#write) && jam#type(jam#arg(0),"String")
0,-1: jam#invoke(#HTMLDocument#prototype#writeln) && jam#type(jam#arg(0),"String")
0,-1: jam#invoke(#Window#prototype#moveBy)
0,-1: jam#invoke(#Window#prototype#moveTo)
0,-1: jam#invoke(#Window#prototype#resizeBy)
0,-1: jam#invoke(#Window#prototype#resizeTo)
0,-1: jam#invoke(#Window#prototype#setResizable)
0,-1: jam#invoke(#Window#prototype#sizeToContent)
0,-1: jam#invoke(#Window#prototype#sizeToContent)
